.cart {
    width: 100%;
}
.cart-header{
    padding: 50px;
    background-color: pink;
    padding-left: 100px;
    margin-bottom: 20px;
}
.cart table{
    flex: 4;
    border: 1px solid lightblue;
    margin-top: 20px;
    border-collapse: collapse;
}
.cart table tbody tr{
    width: 100%;
    border: 1px solid lightblue;
    border-collapse: collapse;
}
.cart table tbody tr th{
    padding: 20px;
}
.cart table tbody tr td{
    text-align: center;
    padding: 10px;
}
.cart table tbody tr td img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}
.cart-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.cart .checkout{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.cart .btn-checkout{
    padding: 5px;
    width: 50%;
    border: none;
    border-radius: 20px;
    background-color: pink;
    cursor: pointer;
    transition: all .5s ease;
}
.btn-checkout:hover{
    background-color: rgba(0,0,0,0.9);
    color: #fff;
}